<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <%- include("./navbar") %>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <% if (locals.user) { %>
      <h2>Welcome back <%= user.full_name %></h2>
    <% } else { %>
      <h2>Please sign up or log in to see more details.</h2>
    <% } %>
    <section>
      <% messages.forEach((message) => { %>
        <div>
          <p>Title: <%= message.title %></p>
          <p>Message: <%= message.message %></p>
          <div class="extras">
            <div>
              <% if (locals.user && locals.user.member) { %>
                <p>From: <%= message.full_name %></p>
                <p>Sent:
                  <%= new Date(message.added).toString().split(' ').slice(0, 3).join(' ') %>
                  <%= new Date(message.added).toString().split(' ').slice(4, 5).join(' ') %>
                </p>
              <% } %>
            </div>
            <% if (locals.user && locals.user.admin) { %>
              <div>
                <form action="/delete" method="POST">
                  <input name="messageId" value="<%= message.message_id %>" type="hidden">
                  <button type="submit">Delete</button>
                </form>
              </div>
            <% } %>
          </div>
        </div>
      <% }) %>
    </section>
  </main>
</body>
</html>